:root {
    --slow-trans: all 0.3s ease-out;
    --mid-trans: all 0.2s ease-out;
    --fast-trans: all 0.1s ease-out;

    --spacing-sm: 10px;
    --spacing-md: 15px;
    --container-width: 1200px;

    --gray: rgba(85, 85, 85, 0.253);
    --white: #fffbfb;
    --almost-white: rgb(221, 221, 221);
}

/*
* DEFAULTS
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 0.02em;
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--grey);
    color: var(--black);
    color: var(--maroon-shade);
    background: var(--main-mid);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
    /* footer support */
    margin-bottom: 100px;
}

/*
* THEMES
*/

body.dark {
    --main-light: rgb(51, 51, 51);
    --main-mid: rgb(37, 37, 38);
    --main-dark: rgb(30, 30, 30);

    --txt-light: #ff9e5e;
    --txt-mid: rgb(224, 123, 35);
    --txt-dark: rgb(179, 91, 29);
    --txt-opac-1: rgba(228, 204, 172, 0.7);
    --txt-opac-2: rgba(233, 208, 176, 0.5);
    --txt-opac-3: rgba(200, 120, 120, 0.5);

    --oldtxt-light: rgba(228, 179, 179);
    --oldtxt-mid: rgb(224, 143, 143);
    --oldtxt-dark: rgb(200, 120, 120);
    --oldtxt-opac-1: rgba(228, 179, 179, 0.80);
    --oldtxt-opac-2: rgba(228, 179, 179, 0.50);
    --oldtxt-opac-3: rgba(200, 120, 120, 0.5);

    --shadow1: rgb(0, 0, 0);
    --shadow2: rgba(0, 0, 0, 0.5);
    --shadow3: rgba(0, 0, 0, 0.65);
    --shadow4: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

body.light {
    --main-light: rgb(51, 51, 51);
    --main-mid: rgb(37, 37, 38);
    --main-dark: rgb(30, 30, 30);

    --txt-light: rgba(228, 179, 179);
    --txt-mid: rgb(224, 143, 143);
    --txt-dark: rgb(200, 120, 120);
    --txt-opac-1: rgba(228, 179, 179, 0.80);
    --txt-opac-2: rgba(200, 120, 120, 0.5);

    --shadow1: rgb(0, 0, 0);
    --shadow2: rgba(0, 0, 0, 0.5);
    --shadow3: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/*
* PAGE
*/

.container {
    max-width: 95%;
    padding: 7px 15px 7px 15px;
    margin: 0 auto;
}

.header {
    background-color: var(--main-dark);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 25px;
    height: 25px;
    margin-right: 1.5em;
    animation: glow 2.5s ease-in-out infinite alternate;
    -webkit-animation: glow 2.5s ease-in-out infinite alternate;
    -moz-animation: glow 2.5s ease-in-out infinite alternate;
    cursor: pointer;
}

.header h1 {
    color: var(--txt-light);
    text-shadow: var(--txt-dark) 0 0 6px, var(--txt-opac-2) 0 0 25px;
    font-size: 30px;
    padding-right: 50px;
}

.header nav {
    flex: 1;
    display: flex;
    gap: 2em;
    list-style: none;
}

.nav-item {
    transition: var(--fast-trans);
    font-size: 16px;
    color: var(--almost-white);
    opacity: 90%;
}

.nav-item:hover {
    opacity: 100%;
    text-shadow: var(--white) 1px 0 6px;
    color: var(--white);
    cursor: pointer;
}

#my-lists {
    text-shadow: var(--white) 1px 0 4px;
    color: var(--white);
}

.head-tool i {
    transition: var(--fast-trans);
    color: var(--almost-white);
    scale: 125%;
    opacity: 90%;
    margin: 0 30px 0 30px;
    text-shadow: var(--almost-white) 0 0 3px;
}

.head-tool i:hover {
    opacity: 65%;
    cursor: pointer;
}


#profile i {
    margin-right: 0;
}

.search-box {
    display: flex;
    justify-content: center;
    height: 52px;
    padding: 6px;
    margin-left: 5%;
    margin-right: .9em;
    transition: all .2s ease-in-out;
    width: 30px;
}


.search-box-open {
    transition: all .2s ease-in-out;
    overflow: visible;
    width: 300px;
}

.search-bar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#search-input {
    border: 1px var(--almost-white) solid;
    height: 100%;
    width: 100%;
    background-color: rgb(26, 26, 26);
    padding-left: 5px;
    /* font-size: 15%; */
    color: rgb(134, 134, 134);
}

#search-input::placeholder {
    color: rgb(134, 134, 134);
} 

#search-input:focus {
    border: 1px var(--almost-white) solid;
    outline: none;
    color: white;
}

.search-icon {
    scale: 115% !important;
    padding-top: .57em;
    margin-right: 14px !important;
}


#theme {
    margin-left: .6em;
}
#theme img {
    filter: brightness(0) saturate(100%) invert(80%) sepia(79%) saturate(3993%) hue-rotate(318deg) brightness(90%) contrast(101%) drop-shadow(var(--txt-dark) 0 0 5px);
    margin: 2px 20px 0 20px;
    transition: var(--fast-trans);
}
#theme img:hover {
    filter: brightness(0) saturate(100%) invert(80%) sepia(79%) saturate(3993%) hue-rotate(318deg) brightness(70%) contrast(101%) drop-shadow(var(--txt-dark) 0 0 5px);
    cursor: pointer;
}

#theme > .dark {
    animation: theme-dark .2s ease-out both
}
#theme > .light {
    animation: theme-light .2s ease-out both
}

#notifs > i:hover {
    animation: swing .2s ease-out both infinite;
}


/* CONTROLS CONTENT */
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 0.2em 0.3em var(--shadow3);
    margin: 0;
    max-width: 100%;
    padding-left: 1em;
    padding-right: .8em;
}

.controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 !important;
    margin: 1em 0 2em 0;
}

.controls > nav {
    flex: 1;
    display: flex;
    gap: 3em;
}

.setting,
.control {
    transition: var(--fast-trans);
    opacity: 80%;
    transform: scale(1.6);
    color: var(--txt-light);
    text-shadow: 2px 2px 5px var(--shadow2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control:hover {
    opacity: 95%;
    text-shadow: 0 0 3px var(--txt-dark);
    transform: scale(2);
}


.settings-wrapper {
    transition: width .15s ease-in-out;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-right: 1.5em;
    width: 0;
    overflow: hidden;
}

.settings-open {
    transition: width .12s ease-in;
    width: 400px;
}

#settings:hover {
    scale: 100%;
}

.settings-clicked {
    transition: all .2s ease-in-out;
    transform: rotate(-180deg) scale(1.6) !important;
}
.settings-clicked:hover {
    transition: var(--fast-trans);
    scale: 125% !important;
}

.setting {
    text-align: center;
    font-weight: 500;
    font-size: .7em;
    margin: 10px 15px 10px 15px;
    border-radius: 8px;
}
.setting:hover {
    transition: var(--fast-trans);
    opacity: 100%;
    text-shadow: 1px 1px 3px var(--txt-dark);
}
.setting i {
    padding-top: 2px;
    padding-right: .1em;
}


/* CONTENT AREA */
.content.container {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.field-title {
    color: var(--almost-white);
    font-size: 1.4em;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.616);
    opacity: 95%;
}

.card-wrapper {
    flex: 1;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 1em;
}

.card-placeholder {
    transition: var(--fast-trans);
    background-color: rgba(51, 51, 51, 0.5);
    height: 195px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.253);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.add-card {
    width: 150px !important;
}
.add-card > i {
    color: var(--txt-light);
    opacity: 60%;
}
.card-placeholder:hover {
    cursor: pointer;
    transition: var(--fast-trans);
    background-color: rgba(77, 77, 77, 0.65);
    scale: 106%;
}
.add-card:hover > i {
    opacity: 75%;
    text-shadow: 0 0 10px var(--txt-dark);
}


/* FOOTER */
  
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    gap: 10px;
    width: 100%;
    padding: var(--spacing-sm);
    opacity: 10%;
}
  
.fa-github {
    font-size: 20px;
    color: white;
    transition: var(--fast-trans);
}
  
.fa-github:hover {
    transform: scale(1.2);
}

/* MODALS */

.modal-wrapper {
    transform: scale(0);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal {
    transform: scale(.5);
    background-color: var(--main-dark);
    width: 45%;
    height: 60%;
    border-radius: .8em;
    box-shadow: .3em .3em .5em black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
}

.close {
    margin-top: .6em;
    margin-right: .6em;
    scale: 70%;
    opacity: 70%;
}

.modal-wrapper.active,
.modal.active {
    transition: all .1s ease-out;
    transform: scale(1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}
.overlay.open {
    display: block;
}



/*
* KEYFRAMES
*/

@keyframes swing {
    0% { transform: rotate(4.5deg); }
    50% { transform: rotate(-4.5deg); }
    100% { transform: rotate(4.5deg); }
}

@keyframes click {
    0% { transform: rotate(0deg) scale(1); }
    25% { transform: rotate(180deg) scale(.5); }
    50% { transform: rotate(360deg) scale(.1); }
    75% { transform: rotate(-180) scale(.5); }
    100% { transform: rotate(0deg) scale(1);}
}

@keyframes theme-light {
    0% { transform: rotate(0deg); scale: 65%; content: url("src/weather-night.png"); }
    25% { scale: 30%; }
    50% { scale: 10%;  transform: rotate(360deg); }
    75% {scale: 30%; content: url("src/weather-sunny.png"); }
    100% { transform: rotate(0deg); scale: 65%; content: url("src/weather-sunny.png");}
}

@keyframes theme-dark {
    0% { transform: rotate(0deg); scale: 60%; content: url("src/weather-sunny.png"); }
    25% { scale: 30%; }
    50% { scale: 10%; transform: rotate(360deg);}
    75% {scale: 30%; content: url("src/weather-night.png"); }
    100% { transform: rotate(0deg); scale: 60%; content: url("src/weather-night.png"); }
}

@keyframes glow {
    from {
        filter: drop-shadow(0 0 5px var(--txt-dark)) drop-shadow(0 0 15px var(--txt-opac-1));
    }
    to {
        filter: drop-shadow(0 0 3px var(--txt-dark)) drop-shadow(0 0 25px var(--txt-opac-1));
    }
}


/* MEDIA QUERIES */
  
/* MOBILE */
@media screen and (max-width: 767px) {
    .header .container {
      flex-direction: column;
      gap: var(--spacing-md);
      padding-top: var(--spacing-sm);
    }
  
    .main {
      margin-top: 0;
    }
  
    :root {
      --spacing-xl: 20px;
    }
}

/* TABLET */
@media screen and (min-width: 767px) and (max-width: 1023px) {

}